## pands数据结构DataFrame的基本使用

`DataFrame`是矩阵的数据表，每一列可以是不同的值类型(数值、字符串、布尔值等)。   
`DataFrame`有行和列索引，多列可以视为共享索引的`Series`的字典。

In [1]:
import numpy as np
import pandas as pd
# from pandas import Series, DataFrame

### 1. 实例化DataFrame

#### 1.1 使用默认的索引

In [2]:
# 注意字典中的列表长度需要一样
data = {
    "language": ["Python", "Golang", "JavaScript", "Java"],
    "projects": [100, 60, 40, 20],
    "members": [10, 3, 6, 5]
}

frame = pd.DataFrame(data)

In [3]:
frame

     language  projects  members
0      Python       100       10
1      Golang        60        3
2  JavaScript        40        6
3        Java        20        5

In [4]:
frame["language"]

0        Python
1        Golang
2    JavaScript
3          Java
Name: language, dtype: object

In [5]:
# 查看列的类型
type(frame["language"])

pandas.core.series.Series

In [6]:
# 查看类型
frame.dtypes

language    object
projects     int64
members      int64
dtype: object

#### 1.2 自定义索引

In [7]:
frame2 = pd.DataFrame(data, index=["one", "two", "three", "four"])
frame2

         language  projects  members
one        Python       100       10
two        Golang        60        3
three  JavaScript        40        6
four         Java        20        5

In [8]:
frame2["language"]

one          Python
two          Golang
three    JavaScript
four           Java
Name: language, dtype: object

#### 1.3 添加列

In [9]:
frame2["star"] = 9.9
frame2

         language  projects  members  star
one        Python       100       10   9.9
two        Golang        60        3   9.9
three  JavaScript        40        6   9.9
four         Java        20        5   9.9

#### 1.4 删除列

In [10]:
del frame2["star"]

In [11]:
frame2

         language  projects  members
one        Python       100       10
two        Golang        60        3
three  JavaScript        40        6
four         Java        20        5

### 2. 查看hader和头部

In [12]:
data2 = {
    "Python": np.arange(1, 20, 2),
    "Golang": np.arange(20, 40, 2),
    "Java": np.arange(40, 60, 2)
}
frame3 = pd.DataFrame(data2)

In [13]:
# 查看头部数据
frame3.head()

   Python  Golang  Java
0       1      20    40
1       3      22    42
2       5      24    44
3       7      26    46
4       9      28    48

In [14]:
# 查看尾部
frame3.tail()

   Python  Golang  Java
5      11      30    50
6      13      32    52
7      15      34    54
8      17      36    56
9      19      38    58

In [15]:
# 查看平均值
frame3.mean()

Python    10.0
Golang    29.0
Java      49.0
dtype: float64